<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exercise 2.4</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">


</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Hello, <%= firstName + " " + lastName %> </h1>
        <h2 class="display-5"><%= address %></h2>
        <p class="lead">This is Eric Cantona.  Manchester United's iconic number 7. Along with George Best, David Beckham, and Christiano Ronaldo; no one has imortalized this sacred number like Cantona!</p>
        <hr class="my-4">
        <p>Glory, Glory Man United!!</p>
        <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn More!</a>
        </p>
      </div>
</body>
</html>
