<!DOCTYPE html>
<head>

        <meta charset="UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <title></title>
    
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link href="ems/style.css" rel="stylesheet" type="text/css">

        <link href="https://fonts.googleapis.com/css?family=Hind:300" rel="stylesheet">

<style>
        html{
                font-size: 18px;
}

        title{
                font-family: 'Hind', sans-serif;
}

        .heading{
                color: whitesmoke;
                padding: 20px;
                font-family: 'Hind', sans-serif;
                font-size: 45px;
                text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.646);
                text-align: center;  
}

        .navbar-dark{
                color: rgb(230, 236, 242);
                
}

        .nav-link{
                text-align: center;
                margin-left: 1in;
                margin-right: 1in;
                color: whitesmoke!important;
                
}

        .inner{
                position: absolute;
                right: 50px;
                font-size: 35px;
                color: whitesmoke;
}

        .container{
                width: 100%;
}

        body{
                background: #667db6;  /* fallback for old browsers */
                background: -webkit-linear-gradient(to right, #f1f2f4, #dfe3e6, #dfe3e6, #f1f2f4);  /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right, #f1f2f4, #dfe3e6, #dfe3e6, #f1f2f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
                color: rgba(40, 40, 43, 0.926);
                padding: 15px;
                font-family: 'Hind', sans-serif;
                font-size: 20px;
}

        h1{
                text-align: center;
                color: black;
                padding-top: 40px;
                padding-bottom: 15px;

}

        h2{
                color: black;
}

        .nav-link{
                display: inline-block;
}

        .jumbotron{
                background-image: url("https://i.imgur.com/Nembqdj.jpg");
                background-repeat: no-repeat;
                height: 5in;
                width: 50%;
                background-position: center;
                background-size: cover;
                margin: auto;            
}

        footer{
                position: absolute;
                bottom: 0px;
                left: 15px;
}

</style>
</head>