<% include header %>
<body>
    <% include navbar %>

    <h1 class="display-4">Employee Management System</h1>

    <div class="jumbotron">

        <div class="container"></div>
                 
            <img class background="database" card-img-top src="/images/database.jpg" class="medium" alt="" style="float: center" width="250" height="320" align="center"/><br clear="center"></p>


    <div role="main" class="container">

    <br/><br/>
    
</div>


    <% include scripts %>
    <% include footer %>
</body>
    