<div class="navbar-container">
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <li><a href="http://localhost:8080" class="nav-link">Home</a></li>
                <li><a href="http://localhost:8080/new" class="nav-link">Add New Employee</a></li>
                <li><a href="http://localhost:8080/list" class="nav-link">Employee Roster</a></li>
                <li><a href="http://localhost:8080/view" class="nav-link">Records</a></li>
            </li>
        </ul>
    </nav>
</div>